@{
}

<link rel="stylesheet" href="~/css/table.css" />

<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th colspan="3">當NADH轉換成NAD+的時候會有的功能</th>
                <th>NADH本身就有的功能</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>腫瘤預防</td>
                <td>DNA修復，由內而外抗衰老</td>
                <td>抗糖化，促進糖分正常代謝</td>
                <td>直接產生細胞能量ATP，有效提振精氣神</td>
            </tr>
            <tr>
                <td>預防老人痴呆，改善認知功能</td>
                <td>防輻射，緩解化療/放療副作用</td>
                <td>降血脂，調整血壓，增進心血管功能</td>
                <td>直接修復受損的細胞和DNA</td>
            </tr>
            <tr>
                <td>促進毛髮生長，防止脫髮、白髮</td>
                <td>提升免疫力</td>
                <td>提升男性激素，加強性功能</td>
                <td>促進神經傳導物質和荷爾蒙的合成，改善情綠和睡眠品質</td>
            </tr>
            <tr>
                <td>月經正常化，延緩更年期</td>
                <td>增進卵子活力，提高受孕能力</td>
                <td>提升多巴胺水平，穩定情緒，改善憂鬱症</td>
                <td>改善慢性疲勞症候群的疲勞症狀</td>
            </tr>
            <tr>
                <td>保護眼睛，預防視力老化</td>
                <td>加速酒精與毒素代謝，保護肝臟</td>
                <td>強化聽力</td>
                <td>改善更年期婦女的不適感</td>
            </tr>
            <tr>
                <td>改善亞健康，恢復活力</td>
                <td>抗發炎</td>
                <td>調節生物時鐘，改善失眠，提高睡眠品質</td>
                <td>改善阿茲海默症、帕金森氏症、憂鬱症、注意力不足過動症</td>
            </tr>
            <tr>
                <td>促進食慾，強化體力</td>
                <td>增加基礎代謝，使脂肪轉化為肌肉</td>
                <td>促進消化功能，消除便秘</td>
                <td>改善因睡眠不足或時差所導致的精神不濟和認知缺損</td>
            </tr>
            <tr>
                <td>改善各種過敏</td>
                <td>緩解暈車、暈船</td>
                <td>增加血液中含氧量，解決高原反應</td>
                <td>提升記憶力</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>提升運動表現</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">所以有充足的NADH，可以補足NAD+沒有做到的功能，因為NADH不能執行NAD+的功能，反之亦然。</td>
            </tr>
        </tfoot>
    </table>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>NADH</th>
                <th>vs</th>
                <th>NMN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>化學結構</td>
                <td></td>
            </tr>
            <tr>
                <td>酵母發酵</td>
                <td>製程</td>
                <td>多數為化學合成</td>
            </tr>
            <tr>
                <td>高，氧化反應可直接轉換成NAD+</td>
                <td>產生NAD+的效率</td>
                <td>偏低，須經由酵素作用</td>
            </tr>
            <tr>
                <td>1</td>
                <td>機轉步驟</td>
                <td>3</td>
            </tr>
            <tr>
                <td>不耗能，生成NAD+的過程中同時生成細胞能量ATP</td>
                <td>是否需要消耗能量</td>
                <td>耗能，須消耗細胞能量ATP才能合成NAD+</td>
            </tr>
            <tr>
                <td>不須要</td>
                <td>是否需要特定的酶</td>
                <td>須要</td>
            </tr>
            <tr>
                <td>O</td>
                <td>產生能量</td>
                <td>X</td>
            </tr>
            <tr>
                <td>非常多</td>
                <td>人體臨床實驗</td>
                <td>多為動物實驗</td>
            </tr>
            <tr>
                <td>無副作用</td>
                <td>安全性</td>
                <td>待研究</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    備註：NMN目前已經被美國FDA定義為研發中的藥品，且在台灣是非法的食品。不過單純回到學術層面來討論的話，NMN是NAD+的前體，NADH則是NAD+的還原型，因此在轉換效率上會比NMN還要高，也僅需要1個步驟就可轉換為NAD+。同時NADH也不像NMN需要消耗細胞能量ATP及特定的酶(NMNAT)來轉換成為NAD+。此外，也有許多人體臨床實驗證實NADH的效果，但NMN仍停留在動物實驗階段居多，實際上的安全性及效果仍待驗證，即便驗證通過也會因其藥品特性，需醫生處方才可以使用。
                </td>
            </tr>
        </tfoot>
    </table>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>淳活力NADH</th>
                <th>vs</th>
                <th>他牌</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="focus">德國生產專利穩定型NADH</span></td>
                <td>原料來源</td>
                <td>原料來源不明</td>
            </tr>
            <tr>
                <td><span class="focus">酵母發酵法</span></td>
                <td>生產製程</td>
                <td>多為化學合成</td>
            </tr>
            <tr>
                <td>台灣<span class="focus">知名上市公司—威剛科技集團</span>的生技廠<br>品管嚴謹、保障充分</td>
                <td>生產工廠</td>
                <td>可能為小型生技廠<br>品管和保障有限</td>
            </tr>
            <tr>
                <td>擁有<span class="focus">八大認證</span>且產品擁有專利，更投保3000萬產品責任險</td>
                <td>第三方認證</td>
                <td>不見得有權威機構認證和保障</td>
            </tr>
            <tr>
                <td>穩定型NADH 40毫克</td>
                <td>含量</td>
                <td>未註明在瓶身，大多未知</td>
            </tr>
            <tr>
                <td><span class="focus">專利口腔黏膜吸收劑型</span>，完全避免胃酸破壞</td>
                <td>劑型</td>
                <td>大多為膠囊，有概率被胃酸破壞</td>
            </tr>
            <tr>
                <td><span class="focus">專利D-核糖</span>160毫克，加倍提升NAD+濃度</td>
                <td>其他配方</td>
                <td>大多搭配與提升NAD+濃度無關的葉黃素、葡萄糖胺…等等</td>
            </tr>
            <tr>
                <td>$3800 NT，配合獎勵制度，即刻<span class="focus">享有10~20%購物回饋</span>，甚至開啟一個終生事業</td>
                <td>價格</td>
                <td>$1000~4000 NT不等</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">備註：NADH的原料來源、製程和含量是最重要的判斷標準，一切以是否標示在外盒的成分為準，後續以文宣和檢驗報告說明的，很有可能是偽造的，不可不慎!</td>
            </tr>
        </tfoot>
    </table>
</div>