.vs/
coffee_shop_backend/bin/
coffee_shop_backend/obj/
CoffeeShop.Data/bin/
CoffeeShop.Data/obj/
CoffeeShop.Model/bin/
CoffeeShop.Model/obj/
CoffeeShop.Repository/bin/
CoffeeShop.Repository/obj/
CoffeeShop.Service/bin/
CoffeeShop.Service/obj/
CoffeeShop.Utility/bin/
CoffeeShop.Utility/obj/
CoffeeShop.Data/bin/
CoffeeShop.Data/obj/

coffee_shop_backend/wwwroot/documents

Console/
packages/