<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="VideoUrl" value="https://www.youtube.com/watch?v=23g5HBOg3Ic"/>
		<add key="PlayMinute" value="0.2"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>