@using coffee_shop_backend.ViewComponents

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - coffee_shop_backend</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/coffee_shop_backend.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/css/common.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Index" asp-action="Index">Koffee</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="practice01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                練習程式測試
                            </a>
                            <div class="dropdown-menu" aria-labelledby="practice01">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Index">Javascript</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Index2">驗證碼</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Index3">Datatable</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Index4">??</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Index5">Test</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Index6">Redis</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Index7">CSS</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="account01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                會員功能
                            </a>
                            <div class="dropdown-menu" aria-labelledby="account01">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">登入</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">登出</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="../swagger">Api UI</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDocument01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                申請問卷功能
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDocument01">
                                <a class="dropdown-item" asp-area="" asp-controller="Document" asp-action="Index">
                                    後台列表
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="Document" asp-action="RecordList">
                                    後台填寫結果
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="DocumentFront" asp-action="Index">
                                    前台列表
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="DocumentFront" asp-action="RecordList">
                                    前台填寫結果
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="wrapper">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - coffee_shop_backend - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!--頁腳Scripts-->
    <partial name="_FooterScripts" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync(nameof(Footer), new { name = "Willy" })
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
