@model List<DocumentRecordViewModel>
@using System.IO
@{
    string fileFolder = "/documents/";
    int index = 1;
}

<h1>問卷結果</h1>
@if (Model != null && Model.Any())
{
    @Html.Partial("_RecordPartial",  Model)
}