@{
    var message = ViewBag.Message;
}

<footer class="footer py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-black text-right">
                <p id="UserCnt"></p>
                <p id="CurrentUserCnt">瀏覽人次：@message 1000 人</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 text-white font-weight-bold pt-3 about-widget">
                <h2 class="widget-title">WebName</h2>
                <div class="widget-content">
                    <ul class="list">
                        <li>主辦單位：<a href="_blank" target="_blank">交通部</a></li>
                        <li>承辦單位：<a href="_blank" target="_blank">財團法人中華顧問工程司</a></li>
                        <li>協辦單位：
                            <a href="#" target="_blank" style="display: inline;">台北市電腦公會</a>、
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-white font-weight-bold pt-3 about-widget">
                <h2 class="widget-title">聯絡我們</h2>
                <div class="widget-content">
                    <ul class="list">
                        <li>
                            <i class="fas fa-user-alt"></i> 台北市電腦公會 許小姐、陳小姐
                        </li>
                        <li>
                            <i class="fas fa-phone"></i> 聯絡電話：
                            <a href="tel:+886-2-2577-4249">(02)2577-4249 #848 #929</a>(時間：週一至週五9:00-12:00；13:30-17:30)
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i> e-mail：
                            <a href="mailto:" target="_blank">Email Name</a>
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i> 聯絡地址：
                            <a href="https://www.google.com.tw/maps/search/%E5%8F%B0%E5%8C%97%E5%B8%82%E6%9D%BE%E5%B1%B1%E5%8D%80%E5%85%AB%E5%BE%B7%E8%B7%AF%E4%B8%89%E6%AE%B5%E4%BA%8C%E8%99%9F%E4%B8%89%E6%A8%93/@@25.0476193,121.5512296,18z/data=!3m1!4b1?hl=zh-TW" target="_blank">
                                105台北市松山區八德路三段2號3樓
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</footer>
